# Working with Data-Time Methods in pandas

In [61]:
import requests
import pandas as pd

In [62]:
!pip install yfinance==0.1.67

Requirement already satisfied: yfinance==0.1.67 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (0.1.67)
Requirement already satisfied: requests>=2.20 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from yfinance==0.1.67) (2.25.1)
Requirement already satisfied: pandas>=0.24 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from yfinance==0.1.67) (1.2.4)
Requirement already satisfied: multitasking>=0.0.7 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from yfinance==0.1.67) (0.0.10)
Requirement already satisfied: lxml>=4.5.1 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from yfinance==0.1.67) (4.6.3)
Requirement already satisfied: numpy>=1.15 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from yfinance==0.1.67) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from pandas>=0.24->yfinance==0.1.67) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from pandas>=0.24->yfinance==0.1.67) (2021.1)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance==0.1.67) (1.15.0)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests>=2.20->yfinance==0.1.67) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests>=2.20->yfinance==0.1.67) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests>=2.20->yfinance==0.1.67) (1.26.6)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests>=2.20->yfinance==0.1.67) (2.8)

In [63]:
import yfinance as yf

In [64]:
apple  = yf.Ticker('AAPL')

In [65]:
apple_data =apple.info
apple_data

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 154000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408 996 1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'ebitdaMargins': 0.32867,
 'profitMargins': 0.25882,
 'grossMargins': 0.41779,
 'operatingCashflow': 104037998592,
 'revenueGrowth': 0.288,
 'operatingMargins': 0.29782,
 'ebitda': 120233000960,
 'targetLowPrice': 128.01,
 'recommendationKey': 'buy',
 'grossProfits': 152836000000,
 'freeCashflow': 73295003648,
 'targetMedianPrice': 172,
 'currentPrice': 175.64,
 'earningsGrowth': 0.662,
 'currentRatio': 1.075,
 'returnOnAssets': 0.20179,
 'numberOfAnalystOpinions': 42,
 'targetMeanPrice': 174.22,
 'debtToEquity': 216.392,
 'returnOnEquity': 1.47443,
 'targetHighPrice': 210,
 'totalCash': 62639001600,
 'totalDebt': 136521998336,
 'totalRevenue': 365817004032,
 'totalCashPerShare': 3.818,
 'financialCurrency': 'USD',
 'revenuePerShare': 21.904,
 'quickRatio': 0.91,
 'recommendationMean': 1.8,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 8.079,
 'beta3Year': None,
 'enterpriseToEbitda': 24.581,
 '52WeekChange': 0.33090854,
 'morningStarRiskRating': None,
 'forwardEps': 6.18,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 16406400000,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 3.841,
 'sharesShort': 112598907,
 'sharesPercentSharesOut': 0.0069,
 'fundFamily': None,
 'lastFiscalYearEnd': 1632528000,
 'heldPercentInstitutions': 0.58816004,
 'netIncomeToCommon': 94679998464,
 'trailingEps': 5.61,
 'lastDividendValue': 0.22,
 'SandP52WeekChange': 0.2682916,
 'priceToBook': 45.727673,
 'heldPercentInsiders': 0.00071000005,
 'nextFiscalYearEnd': 1695600000,
 'yield': None,
 'mostRecentQuarter': 1632528000,
 'shortRatio': 1.4,
 'sharesShortPreviousMonthDate': 1635465600,
 'floatShares': 16389662475,
 'beta': 1.203116,
 'enterpriseValue': 2955502682112,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1598832000,
 'lastSplitFactor': '4:1',
 'legalType': None,
 'lastDividendDate': 1636070400,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.622,
 'priceToSalesTrailing12Months': 7.8772173,
 'dateShortInterest': 1638230400,
 'pegRatio': 1.92,
 'ytdReturn': None,
 'forwardPE': 28.420713,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0069,
 'sharesShortPriorMonth': 100495541,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 172.99,
 'regularMarketOpen': 173.04,
 'twoHundredDayAverage': 142.2876,
 'trailingAnnualDividendYield': 0.0049135787,
 'payoutRatio': 0.1515,
 'volume24Hr': None,
 'regularMarketDayHigh': 175.86,
 'navPrice': None,
 'averageDailyVolume10Day': 128414010,
 'regularMarketPreviousClose': 172.99,
 'fiftyDayAverage': 158.1582,
 'trailingAnnualDividendRate': 0.85,
 'open': 173.04,
 'toCurrency': None,
 'averageVolume10days': 128414010,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 0.88,
 'exDividendDate': 1636070400,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 172.16,
 'currency': 'USD',
 'trailingPE': 31.308376,
 'regularMarketVolume': 82236393,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2881620017152,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 90342596,
 'dayLow': 172.16,
 'ask': 176.15,
 'askSize': 1800,
 'volume': 82236393,
 'fiftyTwoWeekHigh': 182.13,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.2,
 'fiftyTwoWeekLow': 116.21,
 'bid': 176.19,
 'tradeable': False,
 'dividendYield': 0.005,
 'bidSize': 900,
 'dayHigh': 175.86,
 'regularMarketPrice': 175.64,
 'preMarketPrice': 176.2,
 'logo_url': 'https://logo.clearbit.com/apple.com'}

In [66]:
df = pd.DataFrame([apple_data])
df

,zip,sector,fullTimeEmployees,longBusinessSummary,city,phone,state,country,companyOfficers,website,...,fiveYearAvgDividendYield,fiftyTwoWeekLow,bid,tradeable,dividendYield,bidSize,dayHigh,regularMarketPrice,preMarketPrice,logo_url
0,95014,Technology,154000,"Apple Inc. designs, manufactures, and markets ...",Cupertino,408 996 1010,CA,United States,[],https://www.apple.com,...,1.2,116.21,176.19,False,0.005,900,175.86,175.64,176.2,https://logo.clearbit.com/apple.com

In [67]:
apple_stocks = apple.history(period="MAX")
apple_stocks  = pd.DataFrame(apple_stocks)
apple_stocks

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-12,0.100453,0.100890,0.100453,0.100453,469033600,0.0,0.0
1980-12-15,0.095649,0.095649,0.095213,0.095213,175884800,0.0,0.0
1980-12-16,0.088661,0.088661,0.088224,0.088224,105728000,0.0,0.0
1980-12-17,0.090408,0.090845,0.090408,0.090408,86441600,0.0,0.0
1980-12-18,0.093029,0.093466,0.093029,0.093029,73449600,0.0,0.0
...,...,...,...,...,...,...,...
2021-12-16,179.279999,181.139999,170.750000,172.259995,150185800,0.0,0.0
2021-12-17,169.929993,173.470001,169.690002,171.139999,195432700,0.0,0.0
2021-12-20,168.279999,170.580002,167.460007,169.750000,107499100,0.0,0.0
2021-12-21,171.559998,173.199997,169.119995,172.990005,91185900,0.0,0.0
2021-12-22,173.039993,175.860001,172.149994,175.639999,92004100,0.0,0.0

## working with dates

In [68]:
dates = apple_stocks.index
apple_stocks.index = [i for i in range(10346)]

In [69]:
help(df.insert)

Help on method insert in module pandas.core.frame:

insert(loc, column, value, allow_duplicates=False) -> 'None' method of pandas.core.frame.DataFrame instance
    Insert column into DataFrame at specified location.

    Raises a ValueError if `column` is already contained in the DataFrame,
    unless `allow_duplicates` is set to True.

    Parameters
    ----------
    loc : int
        Insertion index. Must verify 0 <= loc <= len(columns).
    column : str, number, or hashable object
        Label of the inserted column.
    value : int, Series, or array-like
    allow_duplicates : bool, optional

In [70]:
apple_stocks

,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,0.100453,0.100890,0.100453,0.100453,469033600,0.0,0.0
1,0.095649,0.095649,0.095213,0.095213,175884800,0.0,0.0
2,0.088661,0.088661,0.088224,0.088224,105728000,0.0,0.0
3,0.090408,0.090845,0.090408,0.090408,86441600,0.0,0.0
4,0.093029,0.093466,0.093029,0.093029,73449600,0.0,0.0
...,...,...,...,...,...,...,...
10341,179.279999,181.139999,170.750000,172.259995,150185800,0.0,0.0
10342,169.929993,173.470001,169.690002,171.139999,195432700,0.0,0.0
10343,168.279999,170.580002,167.460007,169.750000,107499100,0.0,0.0
10344,171.559998,173.199997,169.119995,172.990005,91185900,0.0,0.0
10345,173.039993,175.860001,172.149994,175.639999,92004100,0.0,0.0

In [75]:
apple_stocks.insert(loc = 0 , column = 'Date' , value  = dates)

In [80]:
apple_stocks

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1980-12-12,0.100453,0.100890,0.100453,0.100453,469033600,0.0,0.0
1,1980-12-15,0.095649,0.095649,0.095213,0.095213,175884800,0.0,0.0
2,1980-12-16,0.088661,0.088661,0.088224,0.088224,105728000,0.0,0.0
3,1980-12-17,0.090408,0.090845,0.090408,0.090408,86441600,0.0,0.0
4,1980-12-18,0.093029,0.093466,0.093029,0.093029,73449600,0.0,0.0
...,...,...,...,...,...,...,...,...
10341,2021-12-16,179.279999,181.139999,170.750000,172.259995,150185800,0.0,0.0
10342,2021-12-17,169.929993,173.470001,169.690002,171.139999,195432700,0.0,0.0
10343,2021-12-20,168.279999,170.580002,167.460007,169.750000,107499100,0.0,0.0
10344,2021-12-21,171.559998,173.199997,169.119995,172.990005,91185900,0.0,0.0
10345,2021-12-22,173.039993,175.860001,172.149994,175.639999,92004100,0.0,0.0

In [81]:
apple_stocks.Date = pd.to_datetime(apple_stocks.Date)

In [91]:
## adding year , week , Month column in df by DateTimeIndex method

apple_stocks["Year"]  = pd.DatetimeIndex(apple_stocks.Date).year
apple_stocks["Month"]  =pd.DatetimeIndex(apple_stocks.Date).month
apple_stocks["Weekday"] = pd.DatetimeIndex(apple_stocks.Date).weekday
apple_stocks["day"] = pd.DatetimeIndex(apple_stocks.Date).day

In [92]:
apple_stocks

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Year,Month,Weekday,Week,day
0,1980-12-12,0.100453,0.100890,0.100453,0.100453,469033600,0.0,0.0,1980,12,4,50,12
1,1980-12-15,0.095649,0.095649,0.095213,0.095213,175884800,0.0,0.0,1980,12,0,51,15
2,1980-12-16,0.088661,0.088661,0.088224,0.088224,105728000,0.0,0.0,1980,12,1,51,16
3,1980-12-17,0.090408,0.090845,0.090408,0.090408,86441600,0.0,0.0,1980,12,2,51,17
4,1980-12-18,0.093029,0.093466,0.093029,0.093029,73449600,0.0,0.0,1980,12,3,51,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10341,2021-12-16,179.279999,181.139999,170.750000,172.259995,150185800,0.0,0.0,2021,12,3,50,16
10342,2021-12-17,169.929993,173.470001,169.690002,171.139999,195432700,0.0,0.0,2021,12,4,50,17
10343,2021-12-20,168.279999,170.580002,167.460007,169.750000,107499100,0.0,0.0,2021,12,0,51,20
10344,2021-12-21,171.559998,173.199997,169.119995,172.990005,91185900,0.0,0.0,2021,12,1,51,21
10345,2021-12-22,173.039993,175.860001,172.149994,175.639999,92004100,0.0,0.0,2021,12,2,51,22

In [98]:
apple_stocks_dec = apple_stocks[apple_stocks.Month == 12]
apple_stocks_dec.tail(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Year,Month,Weekday,Week,day
10341,2021-12-16,179.279999,181.139999,170.750000,172.259995,150185800,0.0,0.0,2021,12,3,50,16
10342,2021-12-17,169.929993,173.470001,169.690002,171.139999,195432700,0.0,0.0,2021,12,4,50,17
10343,2021-12-20,168.279999,170.580002,167.460007,169.750000,107499100,0.0,0.0,2021,12,0,51,20
10344,2021-12-21,171.559998,173.199997,169.119995,172.990005,91185900,0.0,0.0,2021,12,1,51,21
10345,2021-12-22,173.039993,175.860001,172.149994,175.639999,92004100,0.0,0.0,2021,12,2,51,22

## Grouping and Aggregation

#### Somtimes we might want to summarize the data from month , weeks , years
#### to do so , we have grupby method to aggregate the data from given months

In [109]:
apple_stocks_monthwise = apple_stocks.groupby('Month')
## this will aggregate data from all the months

In [114]:
apple_stocks_monthwise[["Open" , "Low" , 'Volume']].max()  ## max value from mention columns

             Open         Low      Volume
Month
1      142.720159  140.503811  3372969600
2      136.712456  135.229367  2312217600
3      127.813944  124.429725  2346834000
4      135.836524  133.487475  2753192400
5      131.427080  131.218063  2041981200
6      135.768140  135.469022  1915079600
7      148.799576  147.264107  2561350400
8      152.437526  151.069513  4190480000
9      156.751227  154.165003  7421640800
10     149.601664  149.501804  2768427200
11     161.679993  161.000000  2568210400
12     181.119995  175.529999  1935754800

In [115]:
apple_stocks_monthwise[["Dividends"]].sum()

       Dividends
Month
1       0.000000
2       1.339016
3       0.000000
4       0.000000
5       1.463838
6       0.001071
7       0.000000
8       1.559552
9       0.000000
10      0.000000
11      1.560087
12      0.000000

#### ~Aditya Mathur